<!DOCTYPE html>
<!-- using full width scalable background -->
<html class= "full" lang="ru">
{% include 'Head.html' %}
<body>
	<div id="page">
	   <header  class="container">
		<h4 align="center">Card Game Protoype</h4>
	   </header>

		<section id="game"  class="container">
			<!-- (AI) -->
			<div class="row">
				<!-- (AI) Статус -->
				{% include 'Ai.html' %}
				<!-- (AI) Рука -->
				{% include 'AiHand.html' %}
			</div>
			<div class="row">
				<!-- (AI) Стол -->
		   		{% include 'AiTable.html' %}	
				<section id="Player1-addon-info" class ="col-xs-4"></section>
			</div>

		   	<!-- USER -->
			<div class="row">
				<!-- (User) Стол -->
				{% include 'UsrTable.html' %}	

				<!-- Конец хода -->
				<section id="UserEndTurn" class ="col-xs-4" align="center">
			 		<button type="button" class="btn btn-info">Конец хода!</button>	
				</section>

			</div>
			<div class="row">
				<!-- (User) Статус -->
				{% include 'Usr.html' %}
				<!-- (User) Рука -->
				{% include 'UsrHand.html'%}
			</div>
		<!-- section game -->
		</section>
		{% include 'Footer.html' %}   
	<!-- div page -->
	</div>
	<!-- JQuery -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- Bootstrap JS-->
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
