<!-- Рука пользователя-->
<section id="User-cards">
	<div  class="col-xs-1">
		<img src="img/card_back.jpg">
		<p>UsrHand_1</p>
		<!-- кнопка разыгрывания -->
		<input type="submit" name="UserHandCard1" value="Разыграть">
	</div>
	<div  class="col-xs-1">
		<img src="img/card_back.jpg">
		<p>UsrHand_2</p>
		<!-- кнопка разыгрывания -->
		<input type="submit" name="UserHandCard2" value="Разыграть">
	</div>
	<div  class="col-xs-1">
		<img src="img/card_back.jpg">
		<p>UsrHand_3</p>
		<!-- кнопка разыгрывания -->
		<input type="submit" name="UserHandCard3" value="Разыграть">
	</div>
	<div  class="col-xs-1">
		<img src="img/card_back.jpg">
		<p>UsrHand_4</p>
		<!-- кнопка разыгрывания -->
		<input type="submit" name="UserHandCard4" value="Разыграть">
	</div>
	<div  class="col-xs-1">
		<img src="img/card_back.jpg">
		<p>UsrHand_5</p>
		<!-- кнопка разыгрывания -->
		<input type="submit" name="UserHandCard5" value="Разыграть">
		
		<!-- прмер кнопки в стиле BootStrap
		<button type="button" class="btn btn-info">Разыграть</button>
		пример кнопки в стиле BootStrap -->
	</div>
	<!-- Сброс-->
	<div  class="col-xs-3">
		<img src="{{ url_for('static', filename='img/card_back.jpg') }}">
		<p>СБРОС(Usr)</p>
	</div>
</section>