<!-- User колода -->
<section id="player1-table-info" class="col-xs-5" >
	<img src="{{ url_for('static', filename='img/card_back.jpg') }}">
	<p align="left">UsrDeck</p>
</section>

<!-- User карты в игре (на столе) -->
<section id="Player1-game">
	<div  class="col-xs-1">
		<!-- User Карта-1 в игре 
		При начале игры карт на поле нет
		-->
		<img src="img/card_back.jpg">
		<p>UsrTable_1</p>
	</div>
	<div  class="col-xs-1">
		<!-- User Карта-2 в игре 
		При начале игры карт на поле нет
		-->
		<img src="img/card_back.jpg">
		<p>UsrTable_2</p>
	</div>
	<div  class="col-xs-1">
		<!-- User Карта-3 в игре 
		При начале игры карт на поле нет
		-->
		<img src="img/card_back.jpg">
		<p>UsrTable_3</p>
	</div>
</section>